

.container {
    display: flex;
    justify-content: center;
}

.welcomeHeading {
    font-size: 30px;
}

.taskEntry {
    display: flex;
    justify-content: center;
}

.taskForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.newTask {
    background-color: rgb(180, 180, 180);
    border: solid 2px black;
    border-radius: 10px;
    font-size: 18px;
    cursor:none;
    outline: none;
}

.newTask:focus-within {
    background-color: rgb(201, 201, 201);
}

.inputButton {
    font-family: 'Plus Jakarta Sans';
    background-color: lightgray;
    border-radius: 10px;
    border: solid 2px black;
    font-size: 16px;
    height: 100%;
    cursor: none; 
    transition: 200ms;
}
.inputButton:hover {
    background-color: rgb(170, 170, 170);
}

.validationError{
    border: 2px solid red;
    color: red;
    width: 365px;
}

.taskList {
    display: flex;
    justify-content: center;
}

.taskList h2 {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

/* Make the tasklists stack on top of each other when on a smaller screen*/
@media (max-width: 1100px) {
    .taskList {
        flex-direction: column;
        align-items: center;
    }
}

.completedTaskList h2 {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

ul {
    padding: 0;
    margin: 0;
    width: 600px;
    box-sizing: border-box;
}

ul li {
    display: flex;
    position: relative;
    border: solid 2px black;
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
    font-size: 25px;
    align-items: center;
    background-color: rgb(209, 208, 208);
    transition:200ms;
    word-break: break-all;
    padding-right: 30px;
}

ul li:nth-child(odd) {
    background-color: rgb(174, 174, 174);
}

ul li:hover {
    background-color: rgb(156, 156, 156);
}

ul li.completed {
    text-decoration: line-through;
}

.removeButton {
    cursor: none;
    /*requires position absolute to not inherit line-through from .completed? */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 100%;
    border-radius: 0px 9px 9px 0px;
    border-left: solid 2px black;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgray;
}

.removeButton:hover {
    background-color: rgb(166, 166, 166);
}

.cursor {
    visibility: hidden;
    /* Modify the rectangle into a triangle */
    rotate: -45deg;
    border-right: 8px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 20px solid black;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    pointer-events: none;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    user-select: none;
}


.pageContainer h2 {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
    cursor: none;
}
